.dest-card-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   width: 400px;
   height: 400px;
}

.dest-card-container img {
    width: 90%;
    height: 60%;
}